*{
    word-break: keep-all;
}
body {
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
}
.background-section {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;  
    z-index: -1;   
    display: flex;
    overflow: hidden;
}

.bg-image {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    
}

h1 {
    color: black;
    position: absolute;
    top: 10px; 
    left: 68%;
    text-align: left;
    font-size: 15pt;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2px 5px;
    width: fit-content;
}

p {
    color: white;
    position: absolute;
    top: 50px; 
    right:30px;
    left: 68%;
    text-align: left;
    font-size: 12pt;
    width: fit-content;
    line-height: 1.4;
        background-color: rgba(0, 0, 0, 0.7); 
        padding: 2px 5px;
}

.numbers-link-container {
    position: fixed;
    top: 50px; 
    left: 50px; 
    transform: none; 
    display: flex; 
    flex-direction: column; 
    gap: 30px; 
    z-index: 20;
}


.number-link {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.number-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}



.back{
    position: fixed;
    bottom: 10px;
    right: 15px;
    color: white;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 2px 5px;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 15px;
    z-index: 20;
    color: white;
    font-size: 0.5em;
}



@media screen and (max-width: 900px) { 
    h1 {
        left: 50%;
        transform: none; 
        right: auto;
        text-align: left;
        width: 45vw; 
        width: fit-content;
    }

    p {
        left: 50%;
        right: auto;
       text-align: left;
        width: 45vw;
        top: 60px; 
    }
}

